
.sell
{
    position:absolute;
    background: linear-gradient(rgb(95, 95, 90), rgb(122, 161, 106));
    background-size: 100%;
    border-image-repeat: no-repeat;
    width: 100%;
    text-align: center;
}
.reservation{
    padding-top: 3%;
    width: 80%;
    margin-left:10%;
    border-top: solid 1px black
}
.card{
    margin-top: 10px;
}
.item{
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: white;
    border: solid 1px;
    height: 60px;
    margin-left:20%;
    padding-left: 10px;
    padding-right: 10px;
    width: 60%;
    display: flex;
    justify-content:space-between;
}