<span class='sell'><app-tabs></app-tabs></span>

    <div class="sellGrid">
        <form class="example-form">
            <br/>
            <P> Que voulez vous vendre?</P>
            <p><mat-label>type de bien     </mat-label>  <mat-form-field >
                <section >
                    <mat-checkbox>   Appartement  </mat-checkbox>
                    <mat-checkbox>   Maison  </mat-checkbox>
                    <mat-checkbox>   Studio  </mat-checkbox>
                    <mat-checkbox>   Parking  </mat-checkbox>
                    <mat-checkbox>   Bureau/Commerce</mat-checkbox>
                  </section>
              </mat-form-field></p>
            <p><mat-label>Localité</mat-label>  <mat-form-field >
                <input matInput placeholder="Region/Departement/Ville" >
              </mat-form-field></p>
              <p><mat-label>prix  </mat-label>  <mat-form-field >
                <input matInput placeholder="(fcfa)">
              </mat-form-field></p>
              <p><mat-label>annonce  </mat-label>  <mat-form-field >
                <input matInput placeholder="(fcfa)">
              </mat-form-field></p>
        <br/><p>
            <button mat-button>publier</button>
        </p><br/>
        </form>
    </div>
  