<span class='sell'><app-tabs></app-tabs>

    <div class="reservation">
        <div class="dernier">
          <br/>
          Mon Billet
          <br/>
          <br/>
          Date : Lundi 7 novembre 2022
          <br/>
          <br/>
          <div class="item">
            <div class="horaires"><br/>18:50 - 21:50</div>
            <div class="type-transport"><br/>Bus</div>
            <div class="temps-trajet"><br/>3h</div>
        </div>
        </div>
        <div class="historique">
          <br/>
          Historique de mes trajets :
          <br>
          <div class="card">
                      Date : Lundi 1 novembre 2022
          <div class="item">
            <div class="horaires"><br/>18:50 - 21:50</div>
            <div class="type-transport"><br/>Bus</div>
            <div class="temps-trajet"><br/>3h</div>
          </div>
          </div>
          <div class="card">
                      Date : Lundi 10 octobre 2022
          <div class="item">
            <div class="horaires"><br/>18:50 - 21:50</div>
            <div class="type-transport"><br/>Bus</div>
            <div class="temps-trajet"><br/>3h</div>
          </div>
          </div>
          <div class="card">
                      Date : Lundi 25 avril 2022
          <div class="item">
            <div class="horaires"><br/>18:50 - 21:50</div>
            <div class="type-transport"><br/>Bus</div>
            <div class="temps-trajet"><br/>3h</div>
          </div>
          </div>

        </div>
    </div>
  </span>