<div class="filter">
    <form class="example-form">
        <br/>
        où allez-vous?
        <br/><br/>
        <mat-form-field class="textarea" appearance="fill">
            <input style="border: 1 solid; border-radius: 5px ;width: 200px" placeholder="..." [ngModelOptions]="{standalone: true}" required minlength="4"
            [(ngModel)]="destination" #name="ngModel">
        </mat-form-field><br />
    <p>
        <button mat-button (click)="shop(destination)">Valider</button>
    </p><br/>
    </form>
</div>