.back
{
    position:absolute;
    background: linear-gradient(rgb(152, 152, 179), rgb(206, 115, 115));
    background-size: 100%;
    border-image-repeat: no-repeat;
    height: 100%;
    width: 100%;
    text-align: center;
}


.contact{
    margin-top:50px;
    display : flex;
    justify-content: center;
}

.textarea input{
    width: 150px;
    height: 30px;
}

.textareaContent input{
    width: 150px;
    height: 70px;
}
