.example-spacer {
    flex: 1 1 auto;
  }
.aList
{
    display: flex;
}
a{
  margin: 2em;
  color: black;
}

a:hover ,.login button:hover
{
  background-color: rgb(160, 95, 95);
}

.login button{
  border: none;
  background-color: transparent;
}