<p>
    <mat-toolbar>
      <button mat-fab color="warn" routerLink="" routerLinkActive="active">
        <mat-icon>home</mat-icon>
      </button>

    <label [routerLink]="" routerLinkActive="active">SellingTicketCg</label>
    <span class="example-spacer"></span>
    <div class="aList">
    <div>
      <a routerLink="/Shop" routerLinkActive="active" >
        Acheter
      </a>
    </div>
    <div>
      <a routerLink="/Sell" routerLinkActive="active">
        Mes réservations
      </a>
    </div>
    <div>
      <a routerLink="/Contact" routerLinkActive="active" >
        Nous contacter
      </a>
    </div>
    <div class="login">
    <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
      
      <button (click)="auth.logout({ returnTo: document.location.origin })">
        Se Déconnecter
      </button>
    </ng-container>

    <ng-template #loggedOut>
      <button (click)="auth.loginWithRedirect()">Se Connecter</button>
    </ng-template>
    </div>

    </div>
    
  </mat-toolbar>
  </p>