<div class="fil">
    <form class="example-form">
        <br/>
        <P> Que cherchez vous?</P>
        <p><mat-label>Localité   </mat-label>  <mat-form-field >
            <input matInput placeholder="Region/Departement/Ville" >
          </mat-form-field></p>
          <p><mat-label>Budget(fcfa)   </mat-label>  <mat-form-field >
            <input matInput placeholder="Min " >
            <input matInput placeholder="Max" >
          </mat-form-field></p>
          <p><mat-label>type de bien     </mat-label>  <mat-form-field >
            <section >
                <mat-checkbox>    Appartement  </mat-checkbox>
                <mat-checkbox>    Maison  </mat-checkbox>
                <mat-checkbox>   Studio  </mat-checkbox>
                <mat-checkbox>   Parking  </mat-checkbox>
                <mat-checkbox>   Bureau/Commerce</mat-checkbox>
              </section>
          </mat-form-field></p>
    <br/><p>
        <button mat-button>recherche</button>
    </p><br/>
    </form>
</div>