<div class="fil">
    <form class="example-form">
        <br/>
        <P> Dites nous-en plus</P>
        <p><mat-label>Lieu de départ   </mat-label>  <mat-form-field >
            <input matInput placeholder="..." >
          </mat-form-field></p>
          <p><mat-label>Lieu d'arrivée   </mat-label>  <mat-form-field >
            <input matInput placeholder=" ... " >
          </mat-form-field></p>
          <p><mat-label>Date de départ   </mat-label>  <mat-form-field >
            <input matInput placeholder="..." >
          </mat-form-field></p>
          <p><mat-label>Date d'arrivée   </mat-label>  <mat-form-field >
            <input matInput placeholder=" ... " >
          </mat-form-field></p>         
          <p><mat-label>Heure de départ   </mat-label>  <mat-form-field >
            <input matInput placeholder="..." >
          </mat-form-field></p>
          <p><mat-label>Heure d'arrivée   </mat-label>  <mat-form-field >
            <input matInput placeholder=" ... " >
          </mat-form-field></p>
    <br/><p>
        <button (click)="recherher()">recherche</button>
    </p><br/>
    </form>
</div>