.shop
{
    position:absolute;
    background: linear-gradient(rgb(95, 95, 90), rgb(122, 161, 106));
    background-size: 100%;
    border-image-repeat: no-repeat;
    width: 100%;
    text-align: center;
}

.filtre
{
    margin-top: 5%;
    margin-left: 30% ;
    width: 50%;
}
.example-spacer {
    flex: 1 1 auto;
  }
.aList
{
    display: flex;
}
a{
  margin: 2em;
  color: black;
}

a:hover
{
  background-color: cadetblue;
}
