<span class='louer'><app-tabs></app-tabs>
<div class="resume-recherche"><br/>
    pointe-noire - Brazzaville le  31/10/2022  à 16h30 <button > modifier</button>
</div>
<div class="liste-resulat">
    <div class="item" (click)="reservation()">
        <div class="horaires"><br/>18:50 - 21:50</div>
        <div class="type-transport"><br/>Bus</div>
        <div class="temps-trajet"><br/>3h</div>
        <div *ngIf="isClick()"><br/><button> Réserver ce trajet</button></div>
    </div>
    <div class="item" (click)="reservation()">
        <div class="horaires"><br/>18:50 - 21:50</div>
        <div class="type-transport"><br/>Bus</div>
        <div class="temps-trajet"><br/>3h</div>
        <div *ngIf="isClick()"><br/><button> Réserver ce trajet</button></div>
    </div>
    <div class="item" (click)="reservation()">
        <div class="horaires"><br/>18:50 - 21:50</div>
        <div class="type-transport"><br/>Bus</div>
        <div class="temps-trajet"><br/>3h</div>
        <div *ngIf="isClick()"><br/><button> Réserver ce trajet</button></div>
    </div>
    <div class="item" (click)="reservation()">
        <div class="horaires"><br/>18:50 - 21:50</div>
        <div class="type-transport"><br/>Bus</div>
        <div class="temps-trajet"><br/>3h</div>
        <div *ngIf="isClick()"><br/><button> Réserver ce trajet</button></div>
    </div>
    <div class="item" (click)="reservation()">
        <div class="horaires"><br/>18:50 - 21:50</div>
        <div class="type-transport"><br/>Bus</div>
        <div class="temps-trajet"><br/>3h</div>
        <div *ngIf="isClick()"><br/><button> Réserver ce trajet</button></div>
    </div>
    <div class="item" (click)="reservation()">
        <div class="horaires"><br/>18:50 - 21:50</div>
        <div class="type-transport"><br/>Bus</div>
        <div class="temps-trajet"><br/>3h</div>
        <div *ngIf="isClick()"><br/><button> Réserver ce trajet</button></div>
    </div>
</div>
</span>